body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #edb5f5;
    color: rgb(129, 28, 28);
    padding: 20px 0;
    text-align: center;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.produto-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produto {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 5px;
}

#contatoForm {
    display: flex;
    flex-direction: column;
}

#contatoForm label {
    margin-top: 10px;
}

#contatoForm input, #contatoForm textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #a33e8d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #7b3f00;
    color: white;
}

#checkout {
    padding: 20px;
}

#resumoPedido {
    margin-bottom: 20px;
}

#finalizarCompraForm {
    display: flex;
    flex-direction: column;
}

#finalizarCompraForm label {
    margin-top: 10px;
}

